//mat-grid-tile {
//  background: lightblue;
//}

.service-icon {
  font-size: 50px;
  float: left;
  color: #010e58;
  opacity: .4;
}

.button-content {
  font-family: "Open Sans";
  display: inline-block;
  margin-left: 20px;
  color: #27343b;
}

.button-content h2 {
  margin-bottom: 10px;
  margin-top: 0;
  text-align: left;
}

.button-content p {
  margin: 0;
  font-size: 14px;
  word-break: break-all;
}

.ci-img {
  width: 70px;
  height: 70px;
  margin-right: 20px;
}

.ci-container p {
  max-width: 350px;
  width: 350px;
  word-wrap: normal;
}

.ci-btn {
  padding: 0;
}

