.home-page-list-container {
  padding: 10px 0;
}

.home-page-list-item .material-icons{
  position:relative;
  left:0px;
  font-size: 26px;
  padding:10px;
}

.home-page-list-item{
  display: inline-block;
}

.mat-list-item {
  font-family: "Open Sans";
}
