<div style="display: inline-block; width: 100%;">
  <div style="display: inline-block; width: 90%;">
    <mat-list role="list" style="padding: 0!important;">
        <mat-list-item role="listitem">{{mark.value}}</mat-list-item>
    </mat-list>
  </div>

  <div style="display: inline-block; width: 10%;">
    <i class="material-icons {{mark.color}}">{{mark.state}}</i>
    <!--<i class="material-icons lite-green">clear</i>-->
    <!--<button mat-raised-button color="warn">{{mark.state}}</button>-->
  </div>
  <!--<mat-divider></mat-divider>-->
</div>
