.button-inside-tile {
  position: absolute;
  left: 100px;
}

mat-form-field {
  width: 100%;
}

//.container{
//  margin: 10px auto; max-width: 50%; padding-top:40px; font-size: 16px
//}

h4{
  opacity: 0.7;
}
